@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
}

.head{
    display: flex;
    width: 1535px;
    margin: 0 auto;
    min-height: 80px;
    padding: 35px 45px;
    align-items: center;
    justify-content: space-between;
}

.main_nav a{
    text-decoration: none;
    text-align: center;
    margin-left: 12px;
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.main_nav a:hover{
    background: transparent;
    color: #ff2759;
    transition: .2s ease-in-out;
}

.active{
    color: #ff2759 !important;
}

.side_nav ul li{
    display: inline-block;
    text-decoration: underline ;
    margin: 0 20px;
    font-size: 18px;
    font-weight: 600;
}

.fa-user{
    color: black;
    font-size: 20px;
    padding-right: 20px;
}

.side_nav ul li:hover{
    cursor: pointer;
    transition: .2s ease-in-out;
    color: var(--heading);
}

.fa-bars{
    color: black;
    font-size: 22px;
}